# Database connection string (PostgreSQL / Neon)
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Base application public URL (Vercel deployment URL or custom domain)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Authentication Secret
AUTH_SECRET="supersecretkey-change-in-production-min-32-chars"
BETTER_AUTH_SECRET="supersecretkey-change-in-production-min-32-chars"

# Better Auth URL
BETTER_AUTH_URL="http://localhost:3000"
